/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --success: #28a745;
  --success-dark: #135823;

  --info: #17a2b8;
  --info-dark: #033d7a;

  --primary: #007bff;
  --primary-dark: #031d3a;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
